<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Admin Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink = "adduser"> Add User</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink = "updateuser"> Update User </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink = "deleteuser"> Delete User </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink = "additem"> Add Item </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink = "updateitem"> Update Item </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink = "deleteitem"> Delete Item </a>
        </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>
