<div class = "container">
    <div class = "row">
        <div class = "col-md-4 offset-md-4 d-flex justify-content-center mt-4">
            <h1 text-center>Delete Item</h1>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-4 offset-md-4 d-flex justify-content-center mt-4">
            <form [formGroup] = 'deleteItemForm' (ngSubmit) = 'deleteItem()'>
                <div class = "form-group">
                    <label for = "name">Item Name </label>
                    <input class = "form-control" type = 'text' formControlName = 'name'>
                </div>
                <button class = "btn btn-primary btn-block">Delete Item</button>
            </form>
        </div>
    </div>
</div>